<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/auth.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="auth-container">
        <form id="signupForm">
            <h2>Create an Account</h2>
            <div class="input-group">
                <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="input-group">
                <input type="password" id="newPassword" placeholder="Password" required>
            </div>
            <div class="input-group">
                <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
            </div>
            <button type="submit" class="btn">Sign Up</button>
        </form>
        <p>Already have an account? <a href="login.html">Sign in</a></p>
    </div>
    <script src="../assets/scripts/auth.js"></script>
</body>
</html>